*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.contrainer {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#display{
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#display div{
    width: 15px;
    height: 15px;
    border: .7px solid rgba(0,0,0, 20%);
}

#display div.player{
    background: #0f0;
}
#display div.apple{
    background: red;
}